#PPoverlay{
	position: fixed;
	width:100%;
	background:#666;
	height:100%;
	top:0px;
	left:0px;
	z-index:100;
}
#PPlightbox{
	border-bottom:#999 5px solid;
	position: absolute;
	border-left:#999 5px solid;
	margin:0px;
	width:580px;
	background:#fff;
	border-top:#999 5px solid;
	top:75px;
	border-right:#999 5px solid;
	left:30%;
	padding:11px;
	display:block;
	z-index:999999999999999999999;
}
#PPpopClose{
	width:34px;
	height:34px;
	display:block;
	position:absolute;
	top:-15px;
	right:-15px;
	text-indent:-1000em;
	background-image: url('Images/close_icon.png');
}
