/*===================================公共样式======================================== */
@media screen and (max-device-width: 320px){body{-webkit-text-size-adjust:none}}
@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust:none}}
@media only screen and (-webkit-min-device-pixel-ratio: 2){body{-webkit-text-size-adjust:none}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){body{-webkit-text-size-adjust:none}}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,Passlogin,table,td,img,div,p,dl,dt,dd{margin:0;padding:0;}
html,body{background:#fff}
body{margin:0; color:#4C4C4C; font-family:/*"黑体",Lucida Grande, Verdana, Lucida, */Arial, Helvetica, sans-serif;font-size:12px; text-align: left;line-height:24px; color:#454545}
h1,h2,h3,h4,h5,h6,em,i,cite{ font-size:12px;font-weight:normal; font-style:normal}
ul,li,dl,ul,ol{list-style:none;}
select,input{vertical-align:middle; padding:0; margin:0;font-size:12px;}
a{text-decoration:none; color:#454545}
a:hover{ color:#da4200; text-decoration:underline}
img{border:0px;}
.fl{float:left;}
.fr{float:right;}
.tr{ text-align:right}
.tl{ text-align:left}
.tc{ text-align:center}
.clear{clear:both;height:0;overflow:hidden;display:block}
.clearfix:after{clear:both;height:0;overflow:hidden;display:block;content:"."}
.clearfix{*zoom:1}
.font_wr{font-family: "微软雅黑"}
.font_song{ font-family:"宋体"}
.font_hei{ font-family:"黑体"}


.color96{ color:#969696}
.color64{ color:#646464}
.color3c{ color:#3c3c3c}
.color_d36800{color:#d36800}
.color_f20000{color:#f20000}
.font_bolder{ font-weight:bolder}
.bg_none{ background:none}
.pad_l10{ padding-left:10px;}
.pad_R10{ padding-right:10px;}
.pr{position:relative;}
.font10{ font-size:10px;}

.paddingT25{ padding-top:25px;}
.paddingB20{ padding-bottom:20px;}
.paddingT55{ padding-top:55px;}
.paddingB55{ padding-bottom:55px;}
.paddingR50{ padding-right:50px;}
.paddingB100{ padding-bottom:100px;}

.wraper{width:960px; margin:0 auto;}
.footer .wraper{height:28px}


/*头部*/
.header{height:85px;}
.header h1{ padding:30px 0 0 5px;width:144px;height:36px; float:left}
.nav{width:500px;}
.search{ padding-left:260px;width:240px;height:35px; padding-top:10px; line-height:24px;}
.search a,.search p{ display:inline-block; float:left;}
.search a{ margin-right:10px;}
.search form{width:134px;height:22px;position:relative;float:right}
#nav{width:500px;line-height:22px; margin-top:5px}
#nav a{display: block; width:70px; text-align:center;text-decoration:none;}
#nav li {float: left; width: 70px;font-family:Arial,Verdana,sans-serif; }
#nav li a{ color:#3c3c3c}
#nav li ul{line-height:18px;left: -999em; width: 70px; position: absolute; background:#fff; padding-bottom:5px;z-index:5}
#nav li ul li{ float: left; width: 70px; text-align:left;}
#nav li ul li a{display: block; width: 50px;text-align:left; color:#646464; padding:0 10px;line-height:18px}
#nav li ul li a:hover{ color:#fff;background:#910683;}
#nav li:hover ul{left: auto;}
#nav li.sfhover ul{ left: auto;}
#nav li.sfhover a{ color:#910683}
#nav li.sfhover ul li a{color:#8e8e8e}
#nav li.sfhover ul li a:hover{ color:#fff;background:#910683;}
#nav li ul.w100ul{width:110px; }
#nav li ul.w100ul li{width:110px; }
#nav li ul.w100ul li a{width:100px;}

.banner{position:relative;border:#930784 6px solid; border-left:none; border-right:none;overflow:hidden;}
.banner img{ display:block}
.banner ul{width:9999px;height:313px}
.banner ul li{width:960px;float:left}
.btn_left{ display:none;position:absolute; top:105px; left:27px; cursor:pointer;background:url(../images/btn_left.gif) no-repeat;width:28px;height:103px}
.btn_right{ display:none;position:absolute; top:105px; right:27px;cursor:pointer;background:url(../images/btn_right.gif) no-repeat;width:28px;height:103px}
#trigger{position:absolute;width:50px;height:11px;left:50%;margin-left:-21px;bottom:46px}
#trigger a{display:inline-block;width:11px;height:11px;margin-right:5px;background:url(../images/tcommon.png) no-repeat}
#trigger a:hover,#trigger a.hover{background:url(../images/thover.png) no-repeat}

/*内容部分*/
h2{ font-size:14px; color:#000;border-bottom:#bababa 1px solid;}
.con_side{ background:#f0f0f0;}
.con{width:870px; margin:0 auto;}
.news_side{width:870px; padding-top:15px;overflow:hidden}
.news_side dl{ float:left;width:175px; background:#FFF;padding:5px 14px; margin-right:20px;overflow:hidden}
.news_side dl.dlindex3{margin-right:-2px}
.news_side dl dd{height:130px;}
.news_side dl dd img{width:175px;height:118px;}
.news_side dl dt h3{ font-size:12px; line-height:14px; height:32px; overflow:hidden;color:#000;border-bottom:#bababa 1px solid;}
.news_side dl dt h3 a{color:#000;}
.news_side dl dt p{ text-indent:2em; line-height:18px; padding-top:5px; color:#969696;height:55px;overflow:hidden}
.news_side dl dt p a{color:#969696;}

.con_botm dl{ padding-top:20px;}
.con_botm dl dd,.con_botm dl dt{ float:left; line-height:18px;	}
.con_botm dl dt{padding-left:20px}
.con_botm dl dt p{ text-indent:2em}
.zdqy_side{width:510px; color:#969696; }
.zdqy_side a{ color:#969696}
.zdqy_side dl{width:510px;}
.zdqy_side dl dd{width:236px;}
.zdqy_side dl dt{width:254px;}
.zdqy_side dl dt span{ color:#000; display:block; padding-bottom:5px;font-weight:bold}
.zdqy_side dl dt span a{color:#000}

.qynk_side{width:335px; color:#969696;}
.qynk_side a{ color:#969696}
.qynk_side dl{width:335px;}
.qynk_side dl dd{width:118px;}
.qynk_side dl dt{width:197px; padding-top:15px}


/*logo*/
.logo_side{width:960px; padding-top:15px; margin:0 auto; height:45px;text-align:center}
.logo_side a{ display:inline-block; margin:0 5px;}

/*底部*/
.footer{ background:#000; color:#FFF;height:28px; line-height:28px;clear:both;width:960px;margin:0 auto}
.footer a{ color:#FFF;}
.footer li{ float:left;}
.footer_left{width:600px;padding-left:10px}
.footer_left li{ padding-right:30px;}
.footer_right{width:210px;}
.footer_right li{width:70px; text-align:center}


/*关于我们*/
.con_left{width:158px;}
.con_left li{width:158px;height:32px; line-height:32px;font-family:Arial,Verdana,sans-serif;}
.con_left li a{display:block;color:#000; background:url(../images/icon1.gif) no-repeat 5px -52px;padding-left:15px;line-height:32px}
.con_left li.li_zi{ background:#920784 url(../images/icon1.gif) no-repeat 5px 12px; color:#FFF;}
.con_left li.li_zi a{ color:#FFF;background:none}
.con_left li a:hover{ background:#f0f0f0 url(../images/icon1.gif) no-repeat 5px -19px; color:#969696;}

.con_right{width:710px}
.con_right p{color:#969696;line-height:18px; padding-bottom:15px;}

.gywm_con dl{height:160px}
.gywm_con dd,.gywm_con dt{ float:left}

.gywm_con dd{width:180px;}
.gywm_con dt{width:490px; padding-top:25px}

/*联系我们*/
.lxwm_side{ text-align:center;}
.lxwm_side li{ text-align:center;height:40px; line-height:40px; padding-left:15px; color:#969696}
.lxwm_side li.diz{ background:url(../images/lxwm_icon1.jpg) no-repeat 310px center}
.lxwm_side li.tel{ background:url(../images/lxwm_icon2.jpg) no-repeat 410px center}
.lxwm_side li.chuanz{ background:url(../images/lxwm_icon3.jpg) no-repeat 410px center}
.lxwm_side li.E-mlie{ background:url(../images/lxwm_icon4.jpg) no-repeat 380px center}
.lxwm_side li.E-mlie a{ color:#969696}
/*人才观*/
.rcg_side{ padding-bottom:50px;}
.rcg_side dl{ padding-top:50px;height:60px;font-family:Arial, Verdana, sans-serif;font-size:12px}
.rcg_side dl dd,.rcg_side dl dt{ float:left;}
.rcg_side dl dd{width:58px;}
.rcg_side dl dt{ padding-left:25px;width:550px; color:#969696}
.rcg_side dl dt em,.rcg_side dl dt span{ display:block;}
.rcg_side dl dt em{ color:#000}

/*诚聘英才*/
.cpyc_side p{ text-indent:0; padding-top:40px;}
.cpyc_side p span{ color:#000}
.zp_nub img,.zp_nub ul{ display:block; float:left}
.zp_nub ul{width:400px; padding-left:20px; color:#969696; line-height:40px;}
.zp_nub ul span{ display:block;width:400px; color:#000}
.zp_nub ul li{ float:left;width:200px;height:40px}
.zp_nub ul li em,.zp_nub ul li i{ display:block; float:left}
.zp_nub ul li em{width:90px;}
.zp_nub ul li i{width:110px;}
#cpyc{font-family:Arial, Verdana, sans-serif;font-size:12px}

/*集团新闻*/
.jtxw_side dl{ border-bottom:1px solid #c8c8c8;/*height:140px;*/ padding:15px 0;}
.jtxw_side dl dd,.jtxw_side dl dt{ float:left}
.jtxw_side dl dd{width:190px;}
.jtxw_side dl dd img{ width:190px;}
.jtxw_side dl dt{ padding-left:30px;width:490px; color:#969696	}
.jtxw_side dl dt h4{ font-size:13px; color:#000;}
.jtxw_side dl dt h4 a{color:#000;}
.jtxw_side dl dt p a{color:#969696;}

/*翻页*/
.page_side{height:50px; padding-top:15px;width:670px;}
.page_side span,.page_side p,.page_side a{ display:block; float:left;}
.page_side a{width:22px; height:22px; margin:0 3px; text-align:center}
.page_side a{width:20px;height:20px;border:1px solid #969696}
.page_side a.page_Avisited{width:22px; height:22px; border:none; background:#900884; color:#FFF;}
.page_side p{width:200px;}
.page_side p em,.page_side p input,.page_side p img{ float:left}
.page_side p input{height:20px;width:20px;border:1px solid #969696; padding:0; margin:0; line-height:20px; margin-right:5px}
.page_side a.toprev{border:0;background:url(../images/page_q.jpg) no-repeat}
.page_side a.tonext{border:0;background:url(../images/page_h.jpg) no-repeat}
.page_side table td{vertical-align:middle}

/*媒体新闻*/
.mtNews_side dl{width:710px; padding-top:10px; padding-bottom:10px;height:120px; color:#969696}
.mtNews_side dl dd{width:710px;height:40px; line-height:40px; border-bottom:1px solid #c8c8c8;}
.mtNews_side dl dd h4{ float:left; font-size:13px; color:#000}
.mtNews_side dl dd h4 a{color:#000}
.mtNews_side dl dd em{ float:right;}
.mtNews_side dl dt{ padding-top:10px}
.mtNews_side dl dt span{ display:block; color:#646464}
.mtNews_side dl dt p a{ color:#969696}

/*当前位置*/
.dq_weiz{height:24px; line-height:24px;}
.dq_weiz a{ color:#969696}

.news_font{ padding-top:20px;line-height:18px;color:#969696}
.news_font h2,.news_font span,.news_font em{ display:block; text-align:center;}
.news_font h2{ font-size:18px; border:none; margin:20px 0;line-height:1.5}
.news_font span{ color:#969696; /*padding-bottom:30px*/}
.news_font em{ color:#646464; padding:20px 0;font-family:"微软雅黑"}
.news_font h3{ font-size:14px;color:#646464; padding-bottom:15px;}
.news_font img{ margin:10px auto 25px;}
.pagecontent{font-family:Arial,Verdana,sans-serif;}
.pagecontent img{margin:40px auto 10px}
.pagecontent img.t10b40{margin:10px auto 40px}
.pagecontent img.t10b10{margin:10px auto 10px}


/*信息电子*/
.cpgk_con dl{}
.cpgk_con dd{width:300px; float:right}
.cpgk_con dt{width:350px; float:left}
.cpgk_con ul{ padding-top:20px;}
.cpgk_con ul li{ line-height:20px; background:url(../images/cpgs_liBj.jpg) no-repeat left center; padding-left:18px; color:#969696}
.cpgk_con ul li.li_wangz{ background:none; text-align:right; line-height:40px;color:#8c0375; font-weight:bolder}
.cpgk_con ul li.li_wangz a{ color:#8c0375}

#search-keyword{border:0;background:url(../images/searchBj.jpg) no-repeat;width:124px;height:12px;overflow:hidden;color:#969696;font-size:12px;padding:5px 0 5px 10px}
.search-submit{border:0;background:url(../images/btnsear.png) no-repeat;width:10px;height:10px;position:absolute;right:5px;top:5px}

.toprev i,.tonext i{display:none}

.search_border{border-top:#930784 6px solid; }
.search_side{ padding:20px 0px; line-height:22px;color:#969696}

#searchpage .page_side a{width:auto;border:0;font-size:12px}

#gotopage{width:21px;height:21px;border:0;background:url(../images/page_go.jpg) no-repeat;cursor:pointer}


#nbkw .kwlist{text-align:justify;width:710px;margin-top:40px}
#nbkw .kwlist a{display:inline-block;color:#b1b1b1;line-height:2.5;;width:163px;height:247px;margin-right:109px;margin-bottom:80px;}
#nbkw a.rowlast{margin-right:-110px}

#flsm,#lxwm{color: #969696;line-height: 18px;}

.gywm_con{font-family:Arial,Verdana,sans-serif}