.page_nextgen_solution_detail .section1-content-par .column-system-nextgen .parsys div.section {
  padding: 10px 0 0 0;
}

.page_nextgen_solution_detail .section1-content-par .column-system-nextgen .parsys .generic-twocol .parsys div.section {
  padding: 0 50px 20px 0;
}

.page_nextgen_solution_detail .title-menu-par div.section {
  padding: Low Power Solutions (Solutions Detail);
}

