.txtImgEnIcoPos {
    float: right;
    z-index: 1 ;
    position: relative;
    margin-top: -35px;
}
.textimage img
{
  border: 0;
}

.textimage_advanced p a {
    text-decoration: underline;
}

.textimage a div:first-child img
{
padding: 10px;
}

/*Start JIRA-2069 Ui fixes for text and image component*/
@media screen and (max-width: 767px) {
.txtimgRightCol, .txtimgLeftCol {
  width: 100% ;
}
}
/*End JIRA-2069 Ui fixes for text and image component*/

/*Start JIRA-3851 -Starts*/
#txtImgOuterDiv .textimage .cdn-caption {
	text-align: center;
	font-family: "Frutiger LT W01_57 Condensed";
}
/*Start JIRA-3851 -Ends*/